
	<label for="user_email" class="control-label padding-top-10">Email </label>
	<%= f.text_field :email ,class:'form-control'%>	

	<label for="user_password" class="control-label padding-top-10">password</label>
	<%= f.password_field :password,class:'form-control' %>

	<label for="user_name" class="control-label padding-top-10">Name</label>
	<%= f.text_field :name ,class:'form-control'%>	
	
	<label for="user_city" class="control-label padding-top-10">City</label>
	<%= f.text_field :city ,class:'form-control'%>	


	<label for="user_phone_no" class="control-label padding-top-10">Mobile No</label>
	<%= f.text_field :phone_no,class:'form-control',maxlength:'10' %>	


	<label for="user_address" class="control-label padding-top-10">Address</label>
	<%= f.text_field :address,class:'form-control' %>	

	
