<div class="foods index">
	<h3>Select a food of your choice (foods#index)</h3>
	<%= link_to("Create New food Item",{:action=>'new'},class:'new_food btn btn-lg btn-warning') %>
	<div class="row">
    <% count = 1 %>
	<% @foods.each do |food| %>

		<div class="col-md-4 each_image panel">
			<div class="image-container"><%= image_tag "image#{count}.jpg" %></div>	
			<div class="details">
				<h4><%= food.name %></h4>
				<p>Price - Rs.<%= food.price %></p>
				<p>Available - <%= food.available ? "Yes" : "No" %></p>
				<p>Delivery Time - <%= food.delivery_time %> hrs </p>
				<%= link_to("Details",{:action=>'show',:id=>food.id},class:'btn btn-info') %>
				<%= link_to({:action=>'edit',:id=>food.id},class: 'btn btn-primary') do %>
					<span class="glyphicon glyphicon-pencil"></span> Edit Food
				<% end %>
			</div>
		</div> 
		<% count=count+1 %>
	<% end %>

	</div>
</div>