<!DOCTYPE html>
<html>
<head>
  <title>FoodStall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- NAVIGATIO MENU -->
	<header>
		<h1>Food Stall</h1>
	</header>
	<nav><ul>
			<li><a href="/foods/index">Home</a></li>
			<li><a href="/users/login">Login</a></li>
			<li><a href="/users/logout">Logout</a></li>
			<li><a href="#">About Us</a></li>
			
		</ul>
	</nav>

	<!-- FLASH MESSAGES -->
		<div class="flash" id="flash_wrapper">
				<% if !flash[:notice].blank? %>
					<div class="notice alert alert-info">
						<%= flash[:notice] %>
					</div>
				<% end %>

				<% if !flash[:error].blank? %>
					<div class="error alert alert-danger">
						<%= flash[:error] %>
					</div>
				<% end %>

				<% if !flash[:warning].blank? %>
					<div class="error alert alert-warning">
						<%= flash[:warning] %>
					</div>
				<% end %>
		</div>

<!-- MAIN CONTENT -->
<section>
	<div class="container">
		<%= yield %>
	</div>
</section>

<!-- FOOTER -->
<footer><p>&copy;Copyrights | Rahul Gupta &amp; Karthik Chandu | All rights Reserved.</p></footer>
</body>
</html>
