<!DOCTYPE html>
<html>
<head>
  <title>FoodStall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
		<div class="flash" id="flash_wrapper">
				<% if !flash[:notice].blank? %>
					<div class="notice alert alert-info">
						<%= flash[:notice] %>
					</div>
				<% end %>

				<% if !flash[:error].blank? %>
					<div class="error alert alert-danger">
						<%= flash[:error] %>
					</div>
				<% end %>

				<% if !flash[:warning].blank? %>
					<div class="error alert alert-warning">
						<%= flash[:warning] %>
					</div>
				<% end %>
		</div>
	</div>
<%= yield %>

</body>
</html>
